* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #E2FAF4
  }
  
  .content-wrapper {
    display: flex;
    gap: 30px;
  }
  
  
  img {
    height: 234px;
    width: fit-content;
  }
  
  .content_image {
    position: relative;
    transition: transform 300ms ease;
  }
  
  .content_image::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 98;
    background-color: #333;
    opacity: .3;
  }
  
  .content_image:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .content-card {
    height: 450px;
    width: 350px;
    background-color: #fefefe;
    overflow: hidden;
    border-radius: 10px;
  -webkit-box-shadow: -12px 1px 29px -2px #D1D1D1; 
  box-shadow: -12px 1px 29px -2px #D1D1D1;
  }
  
  .content_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 30px;
  }
  
  .content_info span {
    font-size: 20px;
    font-weight: 600;
  }
  
  .content_info > .icon i {
    color: #FFED0D;
  }
  
  .content_info p {
    font-weight: 500;
    line-height: 1.5;
  }